.abctune {
	display: block;
}
.abctune-buttons button, button#saveModifications {
	padding-left: 5px;
	padding-right: 5px;
}
.tune-view {
	/* done with http://www.colorzilla.com/gradient-editor/ */
	background: rgb(235,241,246); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(235,241,246,1) 0%, rgba(137,195,235,1) 7%, rgba(137,195,235,1) 7%, rgba(171,211,238,1) 27%, rgba(213,235,251,1) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(7%,rgba(137,195,235,1)), color-stop(7%,rgba(137,195,235,1)), color-stop(27%,rgba(171,211,238,1)), color-stop(51%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 7%,rgba(137,195,235,1) 7%,rgba(171,211,238,1) 27%,rgba(213,235,251,1) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 7%,rgba(137,195,235,1) 7%,rgba(171,211,238,1) 27%,rgba(213,235,251,1) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 7%,rgba(137,195,235,1) 7%,rgba(171,211,238,1) 27%,rgba(213,235,251,1) 51%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 7%,rgba(137,195,235,1) 7%,rgba(171,211,238,1) 27%,rgba(213,235,251,1) 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
.tune-view h3 {
	color: Blue;
}
.tune-edit {
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(252,234,187,1) 0%, rgba(248,181,0,1) 11%, rgba(248,181,0,1) 11%, rgba(252,205,77,1) 29%, rgba(251,223,147,1) 63%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(11%,rgba(248,181,0,1)), color-stop(11%,rgba(248,181,0,1)), color-stop(29%,rgba(252,205,77,1)), color-stop(63%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 11%,rgba(248,181,0,1) 11%,rgba(252,205,77,1) 29%,rgba(251,223,147,1) 63%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 11%,rgba(248,181,0,1) 11%,rgba(252,205,77,1) 29%,rgba(251,223,147,1) 63%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 11%,rgba(248,181,0,1) 11%,rgba(252,205,77,1) 29%,rgba(251,223,147,1) 63%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 11%,rgba(248,181,0,1) 11%,rgba(252,205,77,1) 29%,rgba(251,223,147,1) 63%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.tune-edit textarea {
	background-color: #FBDF93;
}
#form-widgets-abc, #abc-text {
	width: 600px !important ;
    height: 300px;
}

#slider, #slider-value {
	display: block;
}

.speed-slider td {
	valign: center;
}
.abctune-buttons td {
	valign: center;
	padding-left: 0px;
	padding-right: 10px;
}
h3.tuneCollapsedHeading {
    cursor: hand;
    cursor: pointer;
}

h3.tuneCollapsedHeading.tuneCollapsed:before {
    content: "▶ ";
}
h3.tuneCollapsedHeading:before {
    content: "▼ ";   
}

#abctuneMidi, #abctuneMP3 {
	position:relative;
	top: 10px;
}
td#pdfScore {
	text-align: center;
}
td#pdfScore a:link {
	text-decoration: none;
}
