/*
button {
	padding-left: 5px;
	padding-right: 5px;
}
*/

pre.abcText {
	font-size: 120%;
}
/*
.overlaycontent td.contenttype-folder + td {
   display: none;
}

.overlaycontent td.contenttype-folder {
	background-color: Red;
}

.overlaycontent td.contenttype-folder + td {
	display: none;
}
*/
