.abctune {
	display: block;
}

#form-widgets-abc, #abc-text {
	width: 600px !important ;
    height: 300px;
}

#slider, #slider-value {
	display: block;
}

.speed-slider td {
	valign: center;
}
.abctune-buttons td {
	valign: center;
	padding-left: 0px;
	padding-right: 10px;
}
h3.tuneCollapsedHeading {
    cursor: hand;
    cursor: pointer;
}

h3.tuneCollapsedHeading.tuneCollapsed:before {
    content: "▶ ";
}
h3.tuneCollapsedHeading:before {
    content: "▼ ";   
}
